body
{
    padding: 10px 20px 10px 20px;
}

button.sbss
{
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Segoe UI Semibold', 'sans serif';
    border: 1px solid black;
    padding: 2px 5px 5px 5px;
    margin-right: 10px;
    color: white;
    background-color: #4C74b2;
}

div.overlay
{
    position: fixed;
    display: none;
    width: 162px;
    height: 360px;
    top: 200px;
    left: 245px;
    right: 0;
    bottom: 0;
    background-color: rgba(232,232,232,.75);
    z-index: 9;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid firebrick;
    box-shadow: 10px 10px 50px 15px #aaaaaa;
    padding: 20px 25px 20px 25px;
}



a
{
    font-family: Segoe UI Semibold, sans-serif;
    font-size: 0.95em;
    font-weight: 500;
}

    a.navigate
    {
        font-size: .65em
    }

    a.help
    {
        float: right;
        font-weight: 500;
        color: firebrick;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px";
    }

<!-- Styles to address -->
ul.sbss
{
    padding: 0;
    margin: 0;
}

ul li
{
    line-height: 1.3;
    margin-bottom: 10px
}

li.sbss
{
    list-style-type: square;
    margin-top: 0px;
    margin-bottom: 0px;
}

li::marker
{
    color: firebrick;
}

span.showme
{
    font-size: .75em;
    cursor: pointer;
}

h1.header
{
    display: inline-block;
    font-weight: 500;
    font-size: 1.25em;
    color: firebrick;
}

div.season
{
    padding-top: 10px;
    float: right;
    color: #4C74B2;
    margin-right: 20px;
    font-weight: 500;
}

